body {
    background: #1e88d8;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.container {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    padding: 5px;
    background: gainsboro;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.4);
}

.letters {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.scroll {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
    scrollbar-color: transparent;
}

.scroll::-webkit-scrollbar {
    width: 0;
}

.scroll::-webkit-scrollbar-track {
    background-color: transparent;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
}

.section {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

#current-task-board{
    display: flex;
    width: 100%;
    height: 120px;
    flex-wrap: wrap;
}

#current-task-board>.dlp-button{
    height: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
    -webkit-animation: fadein .5s;
    animation: fadein .5s;
}

#process-board {
    width: 480px;
    height: 640px;
    margin-right: 12px;
    display: grid;
    grid-template-rows: auto 30px;
}

#process-board>div:first-child{
    display: flex;
    flex-direction: column;
}
#process-board>div:nth-child(2){
    display: flex;
    align-items: center;
    background: #bcbcbc;
    padding: 0 3px 0;
    border-radius: 3px;
}

#process-board .box {
    height: 40px;
    background: #ffffff;
    padding: 0 5px 0;
    border-radius: 5px;
    margin-bottom: 5px;
}

.process {
    color: darkblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 5px;
    height: inherit;
    -webkit-animation: fadein .5s;
    animation: fadein .5s;
}

.process > span {
    width: 0;
    flex-grow: 1;
}

i.tag {
    width: 16px;
    height: 16px;
    background: green;
    border-radius: 8px;
}
i.tag.square{
    border-radius: 3px;
}
i.tag.green{
    background: green;
}
i.tag.red{
    background: red;
}

#task-board {
    width: 100%;
    height: 640px;
    display: grid;
    grid-template-rows: auto 45px;
}
#task-board>div:nth-child(2){
    display: flex;
    align-items: center;
}

#control-board {
    width: 100%;
    height: 35px;
}

#control-board>.dlp-button{
    margin-right: 5px;
}

.dlp-button,.dlp-button-red,.dlp-button-green,.dlp-button-blue,.dlp-button-yellow{
    background: linear-gradient(180deg,#303030 0,#939393 49%,#000 59%,#3e3e3e 100%);
    border: solid 1px #262626;
    box-shadow: inset 0 3px 9px #232323, inset 0 3px 12px #323232, inset 0 15px 9px #4a4a4a, inset 0 3px 3px 0 #8b8b8b, 0 1px 3px rgb(16 16 16 / 66%);
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px!important;
    padding: 5px 10px;
    transition: 20ms ease-out;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    color: #fff;
}
.dlp-button:hover{
    background: linear-gradient(180deg,#222222 0,#444 49%,#242424 59%,#3e3e3e 100%);
}
.dlp-button:disabled{
    cursor: not-allowed;
    background: #545454;
    border: solid 1px #262626;
    box-shadow: inset 0 2px 5px #141414, inset -2px 0 3px #444444, 0 0 3px #141414;
    color: #ccc;
}
.dlp-button-red{
    background: linear-gradient(180deg,#bf1010 0,#cb3636 49%,#a40404 59%,#ff3c3c 100%);
    border: 1px solid #262626;
    box-shadow: inset 0 3px 9px #914242, inset 0 3px 12px #7e2020, inset 0 15px 9px #7c1212, inset 0 3px 3px 0 #5a0404, 0 1px 3px rgb(16 16 16 / 66%);
}
.dlp-button-red:hover{
    background: linear-gradient(180deg,#bf1010 0,#e00000 49%,#a10000 80%,#760000 100%);
}
.dlp-button-red:disabled{
    cursor: not-allowed;
    background: #b32a2a;
    border: solid 1px #262626;
    box-shadow: inset 0 2px 5px #3e0303, inset 0 0 3px #320202, 0 0 3px #a70000;
    color: #ccc;
}
.dlp-button-green{
    background: linear-gradient(180deg,#61d76d 0,#005c10 59%,#00ff18 100%);
    border: 1px solid #00740b;
    box-shadow: inset 0 3px 9px #148b1f, inset 0 3px 12px #23a92f, inset 0 15px 9px #328f3b, inset 0 3px 3px 0 #18e32b, 0 1px 3px rgb(16 16 16 / 66%);
}
.dlp-button-green:hover{
    background: linear-gradient(180deg,#f95e5e 0,#cb3636 49%,#dd3434 59%,#d95454 100%);
}
.dlp-button-green:disabled{
    cursor: not-allowed;
    background: #00c57c;
    border: solid 1px #006641;
    box-shadow: inset 0 2px 5px #006a39, inset 0 0 3px #006235, 0 0 3px #00fdc2;
    color: #f1f1f1;
}
.dlp-button-blue{
    background: linear-gradient(180deg,#0026e1 0,#0c0a9b 49%,#0004a3 59%,#06004e 100%);
    border: 1px solid #00387a;
    box-shadow: inset 0 3px 9px #001c83, inset 0 3px 12px #0362d7, inset 0 15px 9px #5276f7, inset 0 3px 3px 0 #616dff, 0 1px 3px rgb(83 141 249 / 66%);
}
.dlp-button-blue:hover{
    background: linear-gradient(180deg,#2125bd 0,#1e23b5 49%,#494ed5 59%,#0a0c89 100%);
}
.dlp-button-blue:disabled{
    cursor: not-allowed;
    background: #1b7adb;
    border: solid 1px #006641;
    box-shadow: inset 0 2px 5px #00036a, inset 0 0 3px #0300b5, 0 0 3px #636fff;
    color: #dfdfdf;
}
.dlp-button-yellow{
    background: linear-gradient(180deg,#fff74c 0,#faff00 39%,#c2d003 60%,#f3ff6b 100%);
    border: 1px solid #d3e100;
    box-shadow: inset 0 3px 9px #d6e31d, inset 0 3px 12px #deed19, inset 0 15px 9px #efff00, inset 0 3px 3px 0 #c3e906, 0 1px 3px rgb(192 255 37 / 66%);
    color: #00046c;
}
.dlp-button-yellow:hover{
    background: linear-gradient(180deg,#fff74c 0,#e1ed25 49%,#edff00 100%);
}
.dlp-button-yellow:disabled{
    cursor: not-allowed;
    background: #efff01;
    box-shadow: inset 0 2px 5px #cbd70f, inset 0 0 3px #d6ef0a, 0 0 3px #fff938;
    color: #b1b4fb;
    border: 1px solid #d3e100;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}