[App]
DEBUG = on/off
PROJECT = bz
URL = https://www.baozimh.com/

[Bot]
#https://dvapi.doveproxy.net/cmapi.php?rq=distribute&user=yipinbao6688&token=eUkxbHhCSFZFcit1TS9XRWdxVy9mUT09&auth=0&geo=all&city=all&agreement=1&timeout=15&num=10&rtype=0
PROXY_URL = https://dvapi.doveproxy.net/cmapi.php?rq=distribute&user=onemanhua&token=OXBZTmJEL043clF4cmRRYW5sS3Fjdz09&auth=0&geo=all&city=all&agreement=1&timeout=30&num=10&rtype=0
MITM_PROXY = http://127.0.0.1:8080

[Database]
HOST = 127.0.0.1
PORT = 3306
DB =
USER = root
PASS = 123456

[Redis]
HOST = 127.0.0.1
PORT = 6379
USER = root
PASS = 123456
INDEX = 1

[Http]
HOST = localhost
PORT = 8990
SECRET =
